<div class="container">
  <div class="row">
    <div class="col-xs-12">

<h3 class="text-center title">Enterprise</h3>
<table class="table table-striped">
    <thead>
          <tr>
            <th scope="col">Roles</th>
            <th scope="col">1 Eyed Ravens</th>
            <th scope="col">Misc</th>
            <th scope="col">Agile Warriors</th>
            <th scope="col">Content Gurus</th>
            <th scope="col">RCP System Team</th>
            <th scope="col">Scrumptious</th>
            <th scope="col">Titans - CM/DevOps/Systems</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">AD Agile Dev Lead</th>
            <td class="text-center"> - ABC</td>
            <td class="text-center"> - Paul</td>
<td class="text-center"  ></td>
<td class="text-center"  ></td>
<td class="text-center"  ></td>
<td class="text-center"  ></td>
<td class="text-center"  ></td>

        </tr>
        <tr>
            <th scope="row" >Developer</th>
            <td class="text-center"  >0</td>
            <td class="text-center"  >1</td>
            <td class="text-center"  >2</td>
            <td class="text-center"  >3</td>
            <td class="text-center"  >4</td>
            <td class="text-center"  >5</td>
            <td class="text-center"  >1</td>

        </tr>

        <tr>
                <th scope="row">Scrum Master</th>
                <td class="text-center"  >0</td>
                <td class="text-center"  >1</td>
                <td class="text-center"  >2</td>
                <td class="text-center"  >3</td>
                <td class="text-center"  >4</td>
                <td class="text-center"  >5</td>
                <td class="text-center"  >1</td>

            </tr>
            <tr>
                    <th scope="row">Tech Lead</th>
                    <td class="text-center"  >0</td>
                    <td class="text-center"  >1</td>
                    <td class="text-center"  >2</td>
                    <td class="text-center"  >3</td>
                    <td class="text-center"  >4</td>
                    <td class="text-center"  >5</td>
                    <td class="text-center"  >1</td>

                </tr>

                <tr>
                        <th scope="row">Test SME-508</th>
                        <td class="font-weight-bold text-center">0</td>
                        <td class="font-weight-bold text-center">0</td>
                        <td class="font-weight-bold text-center">0</td>
                        <td class="font-weight-bold text-center">0</td>
                        <td class="font-weight-bold text-center">0</td>
                        <td class="font-weight-bold text-center">0</td>
                        <td class="font-weight-bold text-center">0</td>

                    </tr>
          <br />

        </tbody>
      </table>
</div>
</div>
</div>
