#mainContent {
  width: 80%;
  float: right;
  margin-top: 47px;
}

.ratecost{
  margin-left: 100px;

}

.col-xs-12{
  margin-left: -88px !important;
  margin-top: 42px !important;
}

.title{
  margin-top: 56px;
}
