<div class="container">
  <div class="row">
    <div class="col-xs-12">
<h3 class="text-center title">Rate Cost</h3>
<table class="table table-striped ratecost" id = "mainContent">
  <thead>
    <tr>
      <th scope="col">Applications</th>
      <th scope="col">January</th>
      <th scope="col">February</th>
      <th scope="col">March</th>
      <th scope="col">April</th>
      <th scope="col">May</th>
      <th scope="col">June</th>
      <th scope="col">July</th>
      <th scope="col">August</th>
      <th scope="col">September</th>
      <th scope="col">October</th>
      <th scope="col">November</th>
      <th scope="col">December</th>
      <th scope="col">Grand Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Mobile First</th>
      <td class="text center">0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td class="font-weight-bold">$0.00</td>
  </tr>
  <tr>
      <th scope="row">Digital Platform</th>
      <td class="text center">0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td class="font-weight-bold">$0.00</td>
  </tr>

  <tr>
          <th scope="row">Outage</th>
          <td class="text center">0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td class="font-weight-bold">$0.00</td>
      </tr>
      <tr>
              <th scope="row">Payment & Billing</th>
              <td class="text center">0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td class="font-weight-bold">$0.00</td>
          </tr>

          <tr>
                  <th scope="row">PF</th>
                  <td class="text center">0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td class="font-weight-bold">$0.00</td>
              </tr>


          <tr>
                  <th scope="row">Grand Total</th>
                  <td class="font-weight-bold">$0.00</td>
                  <td class="font-weight-bold">$0.00</td>
                  <td class="font-weight-bold">$0.00</td>
                  <td class="font-weight-bold">$0.00</td>
                  <td class="font-weight-bold">$0.00</td>
                  <td class="font-weight-bold">$0.00</td>
                  <td class="font-weight-bold">$0.00</td>
                  <td class="font-weight-bold">$0.00</td>
                  <td class="font-weight-bold">$0.00</td>
                  <td class="font-weight-bold">$0.00</td>
                  <td class="font-weight-bold">$0.00</td>
                  <td class="font-weight-bold">$0.00</td>
                  <td class="font-weight-bold">$0.00</td>
              </tr>


    <br />

  </tbody>
</table>

</div>
</div>
</div>
