<div class="container justify-content-center">
  <!-- <div class="row">
    <div class="col-xs-12"> -->

      <h3 class="text-center title">Resource Summary by Manager</h3>
      <br>
      <div class="rsmTable">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Manager</th>
      <th scope="col">ACCENTURE LLP</th>
      <th scope="col">ANTHEM, INC.</th>
      <th scope="col">CEI</th>
      <th scope="col">COGNIZANT TECH SOL</th>
      <th scope="col">Element Solutions</th>
      <th scope="col">Infosys</th>
      <th scope="col">IRONWOOD TECHNICAL SERVICES</th>
      <th scope="col">ORACLE AMERICA INC</th>
      <th scope="col">Randstad Tech</th>
      <th scope="col">Redstone Content Solutions</th>
      <th scope="col">TEK SYSTEMS</th>
      <th scope="col">TERASOFT INC</th>
      <th scope="col">UNKNOWN</th>
      <th scope="col">Infosys</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Khang Nguyen</th>
      <td>0</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
  </tr>
  <tr>
      <th scope="row">Akshay</th>
      <td>0</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
  </tr>

  <tr>
          <th scope="row">Ujjwal</th>
          <td>0</td>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
      </tr>
      <tr>
              <th scope="row">Thiru</th>
              <td>0</td>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
          </tr>

          <tr>
                  <th scope="row">Grand Total</th>
                  <td class="font-weight-bold">0</td>
                  <td class="font-weight-bold">0</td>
                  <td class="font-weight-bold">0</td>
                  <td class="font-weight-bold">0</td>
                  <td class="font-weight-bold">0</td>
                  <td class="font-weight-bold">0</td>
                  <td class="font-weight-bold">0</td>
                  <td class="font-weight-bold">0</td>
                  <td class="font-weight-bold">0</td>
                  <td class="font-weight-bold">0</td>
                  <td class="font-weight-bold">0</td>
                  <td class="font-weight-bold">0</td>
                  <td class="font-weight-bold">0</td>
                  <td class="font-weight-bold">0</td>
              </tr>


    <br />

  </tbody>
</table>

<!-- </div>
</div> -->
</div>
</div>
