<div class="container justify-content-center">
  <!-- <div class="row"> -->
    <!-- <div class="col-xs-12"> -->
<h3 class="text-center">Resource Summary by Application</h3>
<br>
<div class="rsaTable">
<table class="table table-striped table-hover table-responsive">
  <thead>
    <tr class="col-sm-4">
      <th scope="col" class="col-sm-8 text-center">Applications</th>
      <th scope="col" class="col-sm-8 text-center">ACCENTURE LLP</th>
      <th scope="col" class="col-sm-8 text-center">ZILLION</th>
      <th scope="col" class="col-sm-8 text-center">S3</th>
      <th scope="col" class="col-sm-8 text-center">Amazon</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="col-sm-4">Mobile First</th>
      <td class="text-center">0</td>
      <td class="text-center">1</td>
      <td class="text-center">2</td>
      <td class="text-center">3</td>

  </tr>
  <tr >
      <th scope="row col-sm-4" class="w-100">Digital PlatForm</th>
      <td class="text-center"> 0</td>
      <td class="text-center">1</td>
      <td class="text-center">2</td>
      <td class="text-center">3</td>

  </tr>

  <tr class="col-sm-4">
          <th scope="row" class="w-100">Outage</th>
          <td class="text-center">0</td>
          <td class="text-center">1</td>
          <td class="text-center">2</td>
          <td class="text-center">3</td>

      </tr>
      <tr>
              <th scope="row" class="w-100">Payment and Billing</th>
              <td class="col-6 text-center">0</td>
              <td class="text-center">1</td>
              <td class="text-center">2</td>
              <td class="text-center">3</td>

          </tr>

          <tr>
                  <th scope="row" class="w-100">Pick a due date</th>
                  <td>   <mat-form-field class="w-50 justify-content-center">
                    <input matInput [matDatepicker]="picker" placeholder="Choose A Due Date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker></mat-datepicker>
                  </mat-form-field></td>
                  <td>   <mat-form-field class="w-50">
                    <input matInput [matDatepicker]="picker2" placeholder="Choose A Due Date">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker2></mat-datepicker>
                  </mat-form-field></td>
                  <td>   <mat-form-field class="w-50">
                    <input matInput [matDatepicker]="picker3" placeholder="Choose A Due Date">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker3></mat-datepicker>
                  </mat-form-field></td>
                  <td>   <mat-form-field class="w-50">
                    <input matInput [matDatepicker]="picker4" placeholder="Choose A Due Date">
                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker4></mat-datepicker>
                  </mat-form-field></td>

              </tr>

              <tr>
                      <th scope="row" class="w-100">RCP</th>
                      <td class="text-center">0</td>
                      <td class="text-center">1</td>
                      <td class="text-center">2</td>
                      <td class="text-center">3</td>

                  </tr>
          <tr>
                  <th scope="row" class="w-100">Grand Total</th>
                  <td class="font-weight-bold text-center">0</td>
                  <td class="font-weight-bold text-center">0</td>
                  <td class="font-weight-bold text-center">0</td>
                  <td class="font-weight-bold text-center" >0</td>

              </tr>


    <br />

  </tbody>
</table>
</div>
</div>
<!-- </div> -->
<!-- </div> -->
