<div class="container">
  <div class="row">
    <div class="col-xs-12">

<br />
Lookup Field <br />
<br />
<select class="custom-select lookup">
<option selected>Choose the Lookup Field</option>
<option value="1">One</option>
<option value="2">Two</option>
</select>
<br />
<br />
<hr />
<h5 class="font-weight-bold">Available values for selected lookup field</h5>
You will be prompted once you change any of the following values. Your change(s)
reflect to all relative records once request submitted <br />
<br />

  <ul class="list-group col-5">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Cras justo odio
            <button class="btn btn-danger">Delete</button>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Dapibus ac facilisis in
            <button class="btn btn-danger">Delete</button>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Morbi leo risus
            <button class="btn btn-danger">Delete</button>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
                  Cras justo odio
                  <button class="btn btn-danger">Delete</button>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Dapibus ac facilisis in
                  <button class="btn btn-danger">Delete</button>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Morbi leo risus
                  <button class="btn btn-danger">Delete</button>
                </li>
        </ul>
        <br/>
        <button class="btn btn-warning setting">Save Record</button>  <button class="btn btn-info setting">Reset Values</button>  <button class="btn setting">Create New</button>

</div>
</div></div>
