.form-control{
  margin-top: 20px;
}

.del{
  margin-top: 20px;
}

.lookup{
  width: 300px;
}

.setting{
  display: inline;
  margin-right: 50px;
}

.btn-warning{
  margin-left: 100px;
}

.container {
  margin-top: 47px;
}
